@charset "UTF-8";
@font-face {
  font-family: "ShueiMin-L";
  src: url(../fonts/A-OTF-ShueiMinPr6-L.otf);
}
@font-face {
  font-family: "ShueiMin-M";
  src: url(../fonts/A-OTF-ShueiMinPr6-M.otf);
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "ShueiMin-M", "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  max-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
body::before {
  content: "";
  display: block;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/bk.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.title {
  font-family: "ShueiMin-M", "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  white-space: nowrap;
  color: #4B3829;
}
.title.writing-vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1.4;
  letter-spacing: 6px;
}

.sub-title {
  font-family: "ShueiMin-M", "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  color: #4B3829;
}
.sub-title.writing-vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 1.4;
  letter-spacing: 6px;
}

.para {
  font-family: "ShueiMin-L", "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 17px;
  line-height: 1.8;
  text-align: justify;
  color: #4B3829;
}
.para.writing-vertical {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 2;
  letter-spacing: 6px;
}
.para .bold {
  font-family: "ShueiMin-M", "微軟正黑體", "Microsoft JhengHei", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
}

.writing-horizontal {
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}

@media (max-width: 768px) {
  .d-md-none {
    display: none !important;
  }
  .d-md-block {
    display: block !important;
  }
  .d-md-block img {
    max-width: 100%;
  }
  .d-md-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .d-md-flex img {
    max-width: 100%;
  }
  .d-md-inline {
    display: inline-block !important;
  }
  .title {
    font-size: 26px;
  }
  .sub-title {
    font-size: 18px;
  }
  .para {
    font-size: 14px;
    line-height: 1.5;
  }
}
@media (max-width: 520px) {
  .title {
    font-size: 20px;
  }
  .sub-title {
    font-size: 15px;
  }
  .para {
    font-size: 13px;
  }
}
.swiper-container {
  max-width: 768px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  width: 48px;
  height: 48px;
}

.swiper-button-next {
  right: 2rem;
}

.swiper-button-prev {
  left: 2rem;
}

.swiper-button-next:after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-button-prev:after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("../images/arrow-left.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: solid 1px #89898A;
  background: transparent;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #89898A;
}

@media screen and (max-width: 768px) {
  .swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 32px;
    -webkit-filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3215686275));
            filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.3215686275));
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-color: #89898A;
  }
  .swiper-pagination-bullet-active {
    background: #89898A;
  }
}
.sec, .sec0 {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
}

.sec0 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 3rem 0 0 4rem;
}
.sec0 .logo-1 {
  max-width: 40vw;
  position: absolute;
  top: 8rem;
  left: 4rem;
}
.sec0 .logo-2 {
  max-width: 50vw;
  position: absolute;
  bottom: 7rem;
  left: 4rem;
}
.sec0 .logo-3 {
  margin-right: 4rem;
}
.sec0 .main-img-wrapper {
  position: relative;
}
.sec0 .main-swing {
  position: absolute;
  max-width: 120px;
  left: 28rem;
  bottom: 12rem;
}

.sec1 {
  position: relative;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec1 .img-wrapper {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sec1 .img-2 {
  max-width: 200px;
}
.sec1 .content-wrapper {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec1 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sec1 .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 2rem;
}
.sec1 .para:first-of-type {
  margin-left: 1rem;
}

.sec2 {
  padding: 8rem 0;
  text-align: center;
  position: relative;
}
.sec2 .img-1 {
  position: absolute;
  bottom: 0;
  left: 4rem;
}
.sec2 .swiper {
  width: 1280px;
  max-width: calc(100vw - 2rem);
  margin: 0 auto;
}
.sec2 .title {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.sec2 .sub-title {
  margin-bottom: 2rem;
}
.sec2 .para {
  text-align: inherit;
}

.sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 8rem 0 12rem 0;
}
.sec3 .img-1 {
  max-width: 200px;
  position: absolute;
  bottom: -2rem;
  right: 10vw;
}
.sec3 .swiper {
  width: 60vw;
  max-width: 820px;
  margin: 0;
}
.sec3 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 50vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec3 .title {
  margin-left: 2rem;
}

.sec4 {
  margin: 8rem auto;
}

.sec5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 8rem 0;
}
.sec5::before {
  content: "";
  display: block;
  width: 30vw;
  background-image: url("../images/s5/bg.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 100%;
  position: absolute;
  left: 0;
  top: -6rem;
  bottom: 0;
  opacity: 0.4;
}
.sec5 .img-1 {
  max-width: 50vw;
}
.sec5 .img-2 {
  max-width: 260px;
  position: absolute;
  bottom: 4rem;
  right: calc(50vw + 4rem);
}
.sec5 .content {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}
.sec5 .title {
  margin-bottom: 1rem;
}
.sec5 .title:last-of-type {
  margin-bottom: 3rem;
}

.sec6 {
  padding: 4rem 0 0 0;
  position: relative;
}
.sec6 .section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 10rem;
}
.sec6 .section:last-of-type {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.sec6 .section:last-of-type .content-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sec6 .section:last-of-type .img-title {
  padding-left: initial;
  padding-right: 4rem;
}
.sec6 .section:last-of-type .content {
  padding-left: initial;
  padding-right: 4rem;
}
.sec6 .img-work {
  width: 50vw;
  max-width: 620px;
}
.sec6 .img-title {
  margin-bottom: 4rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  position: relative;
}
.sec6 .img-title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #4B3829;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.sec6 .content {
  padding-left: 4rem;
}
.sec6 .title {
  margin-bottom: 3rem;
}
.sec6 .sub-title {
  margin-bottom: 1rem;
}
.sec6 .sub-title.md {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-size: 18px;
}
.sec6 .designer {
  margin-bottom: 3rem;
  font-size: 18px;
}
.sec6 .designer .lg {
  font-size: 24px;
}
.sec6 .swing {
  position: absolute;
  bottom: 0;
  left: 30vw;
}

.sec7 .swiper {
  max-width: 1280px;
  margin: 0 auto;
}
.sec7 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}
.sec7 .title {
  margin-right: 2rem;
}

.sec8 {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sec8 .content {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.sec8 .title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.sec8 .title {
  margin-left: 2rem;
}
.sec8 .sub-title {
  margin-left: 3rem;
}
.sec8 .img-2 {
  max-width: 360px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.sec9 {
  background-image: url("../images/s9/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center;
  position: relative;
  height: 56.25vw;
}
.sec9 .img-1 {
  position: absolute;
  right: 10vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 34vw;
}
.sec9 .img-2 {
  position: absolute;
  right: 8vw;
  top: 4rem;
  width: 6vw;
}

.sec10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 8rem 0;
}
.sec10 .img-map {
  width: 60vw;
  max-width: 600px;
}
.sec10 .content {
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec10 .para {
  padding-top: 8px;
  font-size: 20px;
  line-height: 2.2;
}

.reservation {
  background: url(../images/s8/form-bg.jpg) center center;
  background-size: cover;
}
.reservation .d-flex {
  padding: 8rem 4rem 6rem 4rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro {
  margin-right: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  max-width: 480px;
}
.intro a {
  color: #fff;
}

.table-wrapper {
  color: #fff;
}
.table-wrapper .table {
  margin-bottom: 2rem;
}
.table-wrapper .title {
  font-size: 30px;
  margin-bottom: 1rem;
  color: #fff;
}
.table-wrapper .table > thead > tr > th {
  padding: 0;
  border: none;
}
.table-wrapper .table > tbody > tr > td {
  padding: 4px 0;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

.call-to-action {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60%;
          flex: 1 1 60%;
  max-width: 710px;
}

.form-wrapper {
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.form-wrapper .form-control-wrapper {
  margin-bottom: 4rem;
}
.form-wrapper .form-control {
  height: 70px;
}
.form-wrapper .d-flex {
  padding: 0;
}
.form-wrapper .d-flex .form-control {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 0;
  margin-right: 16px;
}

.form-title {
  margin-bottom: 2rem;
  color: #fff;
  font-weight: bold;
  text-align: left;
}

.form-control {
  height: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: initial;
  color: #fff;
  padding: 8px 20px 8px 12px;
}
.form-control::-webkit-input-placeholder {
  color: #fff;
}
.form-control::-moz-placeholder {
  color: #fff;
}
.form-control:-ms-input-placeholder {
  color: #fff;
}
.form-control::-ms-input-placeholder {
  color: #fff;
}
.form-control::placeholder {
  color: #fff;
}

.policy {
  margin-bottom: 1rem;
  color: #fff;
  line-height: 1.5;
}

.form-check-label {
  margin-bottom: 1.5rem;
  color: #fff;
  font-weight: normal;
  cursor: pointer;
}
.form-check-label a {
  padding-left: 4px;
  color: #fff;
  font-weight: bold;
}
.form-check-label a:hover {
  text-decoration: underline;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 70px;
  color: #fff;
  border-radius: initial;
  background-color: #B3B4B5;
  font-size: 18px;
  font-weight: bold;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  cursor: pointer;
}
.btn:hover {
  color: #B3B4B5;
  background-color: #fff;
}

.btn-secondary {
  height: 70px;
  color: #fff;
  background-color: #B3B4B5;
  border: 0;
  border-radius: initial;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .reservation .d-flex {
    padding: 2rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 680px;
    margin: 0 auto;
  }
  .reservation .intro {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
  .reservation .call-to-action {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  .reservation .table-wrapper .table {
    margin-bottom: 1rem;
  }
  .reservation .table-wrapper .title {
    font-size: 22px;
    text-align: left;
  }
  .reservation .table-wrapper .table > thead > tr > th {
    padding: 0;
  }
  .reservation .table-wrapper .table > tbody > tr > td {
    font-size: 16px;
    padding: 0 0 1rem 0;
  }
  .reservation .form-wrapper {
    max-width: 680px;
  }
  .reservation .form-wrapper .d-flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    margin-bottom: 2rem;
  }
  .reservation .form-wrapper .d-flex .form-control {
    margin-right: 5px;
  }
}
@media (max-width: 768px) {
  .reservation {
    background: url(../images/s8/m-form-bg.jpg) center center;
  }
  .reservation .d-flex {
    padding: 2rem 0;
  }
  .reservation .intro {
    padding: 0 15px;
  }
  .form-wrapper .form-control-wrapper {
    margin-bottom: 0;
  }
  .form-wrapper .form-control,
.form-wrapper .btn,
.form-wrapper .btn-secondary {
    height: 56px;
  }
}
@media (max-width: 480px) {
  .reservation .intro {
    padding: 0 15px;
  }
  .form-title {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 22px;
  }
  .form-control {
    margin-bottom: 0.5rem;
  }
  .form-control,
.btn,
.btn-secondary {
    font-size: 15px;
  }
  .policy {
    margin-bottom: 8px;
    font-size: 12px;
    letter-spacing: -1px;
  }
  .form-check-label {
    margin-bottom: 12px;
    font-size: 12px;
  }
}
.google-map {
  max-width: 100%;
  height: 30vh;
  max-height: 200px;
  margin-bottom: 2rem;
  position: relative;
}
.google-map iframe {
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 768px) {
  .google-map {
    margin-bottom: 2rem;
  }
}/*# sourceMappingURL=main.css.map */