.reservation {
  padding: 17px;
  .d-flex {
    padding: 8rem 4rem 6rem 4rem;
    align-items: flex-start;
    justify-content: center;
  }

  .form-wrapper {
    max-width: 710px;
    margin: 0 auto;
    padding-bottom: 2rem;
  
    .form-control-wrapper {
      margin-bottom: 4rem;
    }
  
    .form-control {
      height: 56px;
    }
  
    .d-flex {
  
      padding: 0;
      .form-control {
        flex: 1;
        margin-bottom: 0;
        margin-right: 16px;
      }
    }
  }
  
  .form-title {
    margin-bottom: 2rem;
    color: #4b3829;
    font-weight: bold;
    text-align: center;
  }
  
  .form-control {
    height: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid #4b3829;
    border-radius: initial;
    color: #4b3829;
    padding: 8px 20px 8px 12px;
  
    &::placeholder {
      color: #4b3829;
    }
  }
  
  .policy {
    margin-bottom: 1rem;
    color: #4b3829;
    line-height: 1.5;
  }
  
  .form-check-label {
    margin-bottom: 1.5rem;
    color: #4b3829;
    font-weight: normal;
    cursor: pointer;
    a {
      padding-left: 4px;
      color: #4b3829;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 56px;
    color: #FFF;
    border-radius: initial;
    background-color: #1a340b;
    font-size: 18px;
    font-weight: bold;
    transition: all .1s ease-in;
    cursor: pointer;
    &:hover {
      color: #1a340b;
      background-color: #4b3829;
    }
  }
  
  .btn-secondary {
    height: 56px;
    color: #FFF;
    background-color: #1a340b;
    border: 0;
    border-radius: initial;
    font-weight: bold;
  }
}


@media (max-width: 1024px) {
  .reservation {
    .d-flex {
      padding: 2rem 1rem;
      flex-direction: column;
      align-items: center;
      max-width: 680px;
      margin: 0 auto;
    }

    .form-wrapper {
      max-width: 680px;
      .d-flex {
        flex-direction: row;
        align-items: stretch;
        padding: 0;
        margin-bottom: 2rem;
        .form-control {
          margin-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .reservation {
    .d-flex {
      padding: 2rem 0;
    }
    .form-wrapper {
      .form-control-wrapper {
        margin-bottom: 0;
      }
      .form-control,
      .btn,
      .btn-secondary {
        height: 56px;
      }
    }
  }

}

@media (max-width: 480px) {
  .reservation {
    .form-title {
      margin: 0;
      margin-bottom: 1rem;
      font-size: 22px;
    }
    .form-control {
      margin-bottom: .5rem;
    }
    .form-control,
    .btn,
    .btn-secondary {
      font-size: 15px;
    }
    .policy {
      margin-bottom: 8px;
      font-size: 12px;
      letter-spacing: -1px;
    }
    .form-check-label  {
      margin-bottom: 12px;
      font-size: 12px;
    }
  }
}
